---
import { clsx } from "clsx";
import { Image } from "@astrojs/image/components";
import LeftSidebar from "@/components/LeftSidebar/LeftSidebar.astro";
import Search from "@/components/Header/Search";
import ThemeToggle from "@/components/Header/ThemeToggleButton";
import MobileMenuToggle from "@/components/Header/MobileMenuToggle";

import ErOss from "@/assets/brand/ErOss.astro";
import CardinalIcon from "@/assets/brand/cardinal-icon.svg";
import CardinalLogo from "@/assets/brand/CardinalLogo.astro";

type Props = {
  isDocsPage?: boolean;
};

const { isDocsPage } = Astro.props;
const homepage = !isDocsPage;
const currentPage = Astro.url.pathname;
---

<nav
  class={clsx({
    "fixed z-50 w-full border-b": true,
    "border-dark-gunmetal bg-chinese-black/10": homepage,
    "border-slate-200 dark:border-dark-gunmetal dark:bg-chinese-black/10 bg-slate-50/40": !homepage,
  })}
>
  <div class="relative flex h-14 items-center justify-center backdrop-blur-xl">
    {
      !isDocsPage && (
        <div class="flex h-full w-full max-w-7xl justify-between px-8">
          <div class="flex items-center justify-center gap-4">
            <ErOss class="w-7 text-slate-50" homepage={homepage} />
            <div class="h-6 w-[1px] bg-slate-50" />
            <div class="flex items-center gap-2">
              <Image class="h-8 w-8" alt="" src={CardinalIcon} />
              <CardinalLogo class="hidden sm:block w-20 text-slate-50" />
            </div>
          </div>
          <div class="flex items-center justify-center gap-16">
            <ul class="hidden md:flex gap-8 text-sm font-semibold text-slate-300">
              <li class="transition duration-150 hover:text-slate-50">
                <a href="/docs/en/introduction">Docs</a>
              </li>
              <li class="transition duration-150 hover:text-slate-50">
                <a href="#">Features</a>
              </li>
            </ul>
            <div class="flex w-full max-w-lg">
              <Search homepage={homepage} client:load />
              <MobileMenuToggle homepage={homepage} client:visible />
            </div>
          </div>
        </div>
      )
    }
    {
      isDocsPage && (
        <div class="flex h-full w-full items-center justify-between px-8">
          <div class="flex items-center justify-center gap-4">
            <ErOss class="w-7" homepage={homepage} />
            <div class="h-6 w-[1px] bg-slate-900 dark:bg-slate-50" />
            <a href="/" class="flex w-40 items-center gap-2">
              <Image class="h-8 w-8" alt="" src={CardinalIcon} />
              <CardinalLogo class="hidden sm:block w-20" />
            </a>
          </div>
          <div class="flex gap-4">
            <Search homepage={homepage} client:load />
            <ThemeToggle client:load />
            <MobileMenuToggle homepage={homepage} client:visible>
              <LeftSidebar currentPage={currentPage} />
            </MobileMenuToggle>
          </div>
        </div>
      )
    }
  </div>
</nav>
