---
import type { MarkdownHeading } from "astro";
import OnThisPage from "@/components/docs/onThisPage";;
import Pagination from "@/components/docs/pagination.astro";
import TableOfContents from "@/components/docs/tableOfContents";

type Props = {
  title: string;
  description: string;
  githubEditUrl: string;
  headings: MarkdownHeading[];
};

const { title, description, githubEditUrl, headings } = Astro.props;
---

<div class="px-0 md:px-8 leading-relaxed">
  <div class="flex justify-center px-8 pt-8">
    <aside class="relative order-2 hidden w-full max-w-[256px] pl-8 xl:block">
      <div class="aside-container fixed top-0 h-screen w-[224px] overflow-y-auto overflow-x-hidden pt-24">
        <TableOfContents headings={headings} />
      </div>
    </aside>
    <article class="px-8 py-20">
      <OnThisPage headings={headings} client:load />
      <h1 class="pb-4 text-4xl font-bold text-slate-900 dark:text-slate-100">{title}</h1>
      <p class="pb-8 text-xl text-slate-700 dark:text-slate-300">{description}</p>
      <div class="content-wrapper">
        <slot />
      </div>
      <div class="pt-14">
        <a class="text-slate-700 dark:text-slate-300" href={githubEditUrl}>Edit this page on GitHub.</a>
      </div>
      <Pagination />
    </article>
  </div>
</div>

<style is:global>
  /* Body styles */
  .content-wrapper p {
    @apply pb-4 text-base text-slate-900 dark:text-slate-100;
    line-height: 1.8;
  }
  .content-wrapper p:last-child {
    @apply pb-0;
  }
  /* .content-wrapper a {
    @apply underline decoration-pink-600 decoration-2 hover:decoration-4 dark:decoration-pink-500;
  } */
  .content-wrapper ul {
    @apply pb-6 pt-2;
  }
  .content-wrapper li {
    @apply ml-4 pb-1 text-base text-slate-900 dark:text-slate-100;
    line-height: 1.5;
    list-style: disc;
    list-style-position: outside;
  }

  /* Code snniped styles */
  .content-wrapper > p > code,
  .content-wrapper > ul > li > code {
    @apply inline-block rounded-md bg-slate-200 px-1 font-mono text-sm font-bold text-pink-600 dark:bg-slate-800 dark:text-pink-500;
    letter-spacing: initial;
  }
  .content-wrapper pre {
    @apply mb-6 rounded-lg p-4 text-sm;
  }
</style>
