---
import { Image } from "@astrojs/image/components";
import { clsx } from "clsx";

import CardinalIcon from "@/assets/brand/cardinal-icon.svg";
import CardinalLogo from "@/assets/brand/CardinalLogo.astro";
import ErOss from "@/assets/brand/ErOss.astro";
import Sidebar from "@/components/docs/sidebar.astro";
import MobileMenuToggle from "@/components/navigation/mobileMenuToggle";
import Search from "@/components/navigation/search";
import ThemeToggle from "@/components/navigation/toggleThemeButton.astro";

type Props = {
  isDocsPage?: boolean;
};

const { isDocsPage } = Astro.props;
const homepage = !isDocsPage;
const currentPage = Astro.url.pathname;
---

<nav
  class={clsx({
    "fixed z-10 w-full": true,
    "transition duration-200 boder-b border-transparent backdrop-blur-2xl":
      homepage,
    "": !homepage,
  })}
>
  <div
    class={clsx({
      "relative flex h-16 items-center justify-center": true,
      "h-16": homepage,
    })}
  >
    {
      !isDocsPage && (
        <div class="flex h-full w-full max-w-7xl justify-between px-8">
          <a href="/" class="flex items-center justify-center gap-4">
            <ErOss class="w-7 text-slate-50" homepage={homepage} />
            <div class="h-6 w-[1px] bg-slate-50" />
            <div class="flex items-center gap-2">
              <Image class="h-8 w-8" alt="" src={CardinalIcon} />
              <CardinalLogo class="hidden w-20 text-slate-50 sm:block" />
            </div>
          </a>
          <div class="flex items-center justify-center gap-8">
            <ul class="hidden gap-8 text-sm font-semibold text-slate-300 md:flex">
              <li class="transition duration-150 hover:text-slate-50">
                <a href="/docs/introduction">Docs</a>
              </li>
              <li class="transition duration-150 hover:text-slate-50">
                <a href="#">Features</a>
              </li>
              <li class="transition duration-150 hover:text-slate-50">
                <a href="/roadmap">Roadmap</a>
              </li>
            </ul>
            <div class="flex gap-4 w-full max-w-lg">
              <Search homepage={homepage} client:load />
              <MobileMenuToggle homepage={homepage} client:visible />
            </div>
          </div>
        </div>
      )
    }
    {
      isDocsPage && (
        <div class="docs-navbar h-full w-full px-8">
          <div class="flex h-full w-full items-center justify-between bg-slate-50 shadow-lg shadow-slate-50 dark:bg-docs-dark dark:shadow-docs-dark md:justify-end">
            <a href="/" class="flex items-center gap-2 md:hidden">
              <Image class="h-8 w-8" alt="" src={CardinalIcon} />
              <CardinalLogo class="hidden w-20 sm:block" />
            </a>
            <div class="flex gap-4">
              <div class="flex items-center justify-center">
                <ul class="hidden gap-8 text-sm font-semibold dark:text-slate-300 md:flex">
                  <li class="transition duration-150 dark:hover:text-slate-50">
                    <a href="/">Home</a>
                  </li>
                  <li class="transition duration-150 hover:text-slate-50">
                    <a href="/roadmap">Roadmap</a>
                  </li>
                </ul>
              </div>
              <div class="hidden md:flex">
                <Search homepage={homepage} client:load />
              </div>
              <div class="flex items-center rounded-md bg-slate-400/10 p-2 hover:bg-slate-400/20">
                <ThemeToggle />
              </div>
              <div class="flex md:hidden">
                <Search homepage={homepage} client:load />
              </div>
              <MobileMenuToggle homepage={homepage} client:visible>
                <div class="pt-10">
                  <Sidebar currentPage={currentPage} />
                </div>
              </MobileMenuToggle>
            </div>
          </div>
        </div>
      )
    }
  </div>
</nav>
<script>
  const currentPath = window.location.href;
  const isDocsPage = currentPath.includes("docs");
  const headerElement = document.querySelector("nav") as Element;

  function handlePageScroll() {
    if (window.scrollY > 50) {
      headerElement.classList.add("scrolled");
    } else if (window.scrollY < 50) {
      headerElement.classList.remove("scrolled");
    }
  }

  if (!isDocsPage) window.addEventListener("scroll", () => handlePageScroll());
  if (isDocsPage)
    window.removeEventListener("scroll", () => handlePageScroll());
</script>
<style is:global>
  .scrolled {
    @apply border-b border-dark-gunmetal bg-slate-950/30;
  }
  .title-container {
    width: var(--sidebar-width);
    height: var(--nav-height);
    padding: 0 32px;
  }
  @media (min-width: 768px) {
    .docs-navbar {
      padding-left: var(--sidebar-width);
    }
  }
  @media (min-width: 1440px) {
    .title-container {
      padding-left: max(
        32px,
        calc((100% - (var(--layout-max-width) - 64px)) / 2)
      );
      width: calc(
        (100% - (var(--layout-max-width) - 64px)) / 2 + var(--sidebar-width) -
          32px
      );
    }
    .docs-navbar {
      padding-left: calc(
        (100vw - var(--layout-max-width)) / 2 + var(--sidebar-width)
      );
      padding-right: calc((100vw - var(--layout-max-width)) / 2 + 32px);
    }
  }
</style>
