---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import HeadCommon from "@/components/HeadCommon.astro";
import HeadSEO from "@/components/HeadSEO.astro";
import Navbar from "@/components/Header/Navbar.astro";
import PageContent from "@/components/PageContent/PageContent.astro";
import LeftSidebar from "@/components/LeftSidebar/LeftSidebar.astro";
import TableOfContents from "@/components/RightSidebar/TableOfContents";
import Footer from "@/components/Footer/Footer.astro";
import { GITHUB_EDIT_URL } from "@/consts";
import "@/styles/global.css";

type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const currentPage = Astro.url.pathname;
const currentFile = `src/content/docs${currentPage.replace(/\/$/, "")}.mdx`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />
    <style is:global>
      .header-link {
        @apply pb-2 text-sm text-slate-700 transition duration-100 hover:text-slate-900 dark:text-slate-300 dark:hover:text-slate-100;
      }
      .depth-3 {
        @apply pl-4;
      }
      .depth-4 {
        @apply pl-8;
      }
    </style>
  </head>
  <body class="bg-slate-50 font-body text-chinese-black dark:bg-chinese-black dark:text-slate-50">
    <Navbar isDocsPage={true} />
    <div class="relative pt-14">
      <aside class="top-14 bottom-0 hidden w-[250px] overflow-x-hidden md:fixed md:block">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <main class="pl-8 pr-8 pt-14 md:pl-[250px] lg:pr-[250px]">
        <PageContent title={data.title} description={data.description} githubEditUrl={githubEditUrl}>
          <slot />
        </PageContent>
      </main>
      <aside
        class="fixed top-14 right-0 hidden w-[250px] overflow-x-hidden pt-14 leading-relaxed tracking-wide lg:block"
      >
        <TableOfContents headings={headings} />
      </aside>
    </div>
    <Footer />
  </body>
</html>
