---
import HomepageNavbar from "@/components/Header/HomepageNavbar.astro";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Cardinal",
  description = "Cardinal is a CLI tool that helps you quickstart a monorepo project with the frontend framework of your choice, and a GraphQL backend.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- <meta property="og:url" content={`${originLocation}${path}`} /> -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={imageUrl} /> -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content="#00030a" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <HomepageNavbar />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("/fonts/NeueHaasDisplayRoman.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("/fonts/NeueHaasDisplayMedium.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("/fonts/NeueHaasDisplayBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --font-neue-haas-grotesk: "Neue Haas Grotesk Display";
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-neue-haas-grotesk), "sans-serif";
    color: var(--color-slate-50);
    /* letter-spacing: 0.05em; */

    background-color: var(--color-chinese-black);
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
