---
import "@/styles/global.css";
import Navbar from "@/components/Header/Navbar.astro";
import Footer from "@/components/Footer/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Cardinal",
  description = "Cardinal is a CLI tool that helps you quickstart a monorepo project with the frontend framework of your choice, and a GraphQL backend.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- <meta property="og:url" content={`${originLocation}${path}`} /> -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={imageUrl} /> -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content="#00030a" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
